<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    　
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>

    <title>医生诊断</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <h1>医生诊断</h1>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="http://localhost:8080/">首页</a>
                        </li>
                        <li>
                            <a th:href="@{/outpatient/outpatient}">门诊服务</a>
                        </li>
                        <li>
                            <a th:href="@{/patient/registration}">病人登记</a>
                        </li>
                        <li>
                            <a th:href="@{/doctor/doctor}">医生服务</a>
                        </li>
                        <li>
                            <a th:href="@{/toDrugStorePage}">药房服务</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/toAdminPage}">医院管理</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" style="color: red">退出账号</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <form th:action="@{/doctor/search}">
            <label>
                输入病历号进行检索
                <input type="text" name="caseid" th:value="${caseid}">
            </label>
            <input class="btn btn-large btn-warning" type="submit">
        </form>
        <h2>病人资料</h2>
        <div>
            <table>
                <thead>
                <tr>
                    <th>门诊编号</th>
                </tr>
                </thead>
                <tbody>
                <td th:text="${outpatientid}"></td>
                </tbody>
            </table>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>家庭住址</th>
                    <th>联系电话</th>
                    <th>紧急联系人</th>
                    <th>关系</th>
                    <th>联系人电话</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pat:${patient}">
                    <td th:text="${pat.patientname}"></td>
                    <td th:text="${pat.age}"></td>
                    <td th:text="${pat.sex}"></td>
                    <td th:text="${pat.address}"></td>
                    <td th:text="${pat.phone}"></td>
                    <td th:text="${pat.firstman}"></td>
                    <td th:text="${pat.firstquery}"></td>
                    <td th:text="${pat.firstphone}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <form action="/updatesickInfo">
            <label>
                <h2>诊断信息</h2>
                <input type="text" name="sickinfo" style="height:40px;width: 1170px"/>
                <br>
                <br>
                <input class="btn btn-large btn-warning" type="submit" value="提交诊断信息"/>
            </label>
        </form>

        <label>
            <h2>处方信息</h2>
        </label>
        <!--    药品拼音码表-->
        <form action="/doctor/addDrug">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>药品id</th>
                    <th>药品拼音码</th>
                    <th>药品名称</th>
                    <th>药品单位</th>
                    <th>药品单价</th>
                    <th>库存数量</th>
                    <th>添加药品</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="drug:${drugs}">
                    <td th:text="${drug.drugid}"></td>
                    <td th:text="${drug.pinyin}"></td>
                    <td th:text="${drug.drugname}"></td>
                    <td th:text="${drug.unit}"></td>
                    <td th:text="${drug.price}"></td>
                    <td th:text="${drug.quantity}"></td>
                    <td>
                        <a th:href="@{/doctor/addDrug(drugid=${drug.drugid})}">添加</a>
                    </td>
                </tr>
                </tbody>
                <h2 th:text="${msg}" style="color:#ff0000;"></h2>
            </table>
        </form>

        <form action="/doctor/cure">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>药品id</th>
                    <th>药品数量</th>
                    <th>药品合计</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pre:${prescription}">
                    <td><input name="drugid" type="text" th:value="${pre.drugid}"/></td>
                    <td><input name="number" type="number" th:value="${pre.number}"></td>
                    <td th:text="${pre.total}"></td>
                </tr>
                </tbody>
            </table>
            <td><input type="submit" class="btn btn-large btn-warning" value="提交处方"/></td>
        </form>
    </div>
</div>
</body>
</html>