server:
  port: 8080

spring:
  jackson:
    date-format: yyyy-MM-dd
    time-zone: GMT+8
  datasource:
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mis?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.yi.pojo
