<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加新的医生信息</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>

        input{
            height: 40px;
            width: 1170px;
        }

    </style>
</head>
<body>
<div>
    <div class="container">
        <div class="row clearfix">
            <h1>添加医生信息</h1>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="http://localhost:8080/">首页</a>
                            </li>
                            <li>
                                <a th:href="@{/outpatient/outpatient}">门诊服务</a>
                            </li>
                            <li>
                                <a th:href="@{/patient/registration}">病人登记</a>
                            </li>
                            <li>
                                <a th:href="@{/doctor/doctor}">医生服务</a>
                            </li>
                            <li>
                                <a th:href="@{/toDrugStorePage}">药房服务</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/toAdminPage}">医院管理</a>
                            </li>
                            <li>
                                <a th:href="@{/logout}" style="color: red">退出账号</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <form class="form-horizontal" th:action="@{/admin/addDoctor}">
                    <div class="form-group">
                        <label for="docName">医生名称</label><br>
                        <input type="text" name="docname" id="docName">
                    </div>
                    <div class="form-group">
                        <label for="sex">医生性别</label><br>
                        <input type="text" name="sex" id="sex">
                    </div>
                    <div class="form-group">
                        <label for="departmentid">部门&nbsp;I&nbsp;D&nbsp;&nbsp;</label><br>
                        <input type="text" name="departmentid" id="departmentid">
                    </div>
                    <div class="form-group">
                        <label for="phone">联系电话</label><br>
                        <input type="text" name="phone" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="registrationfee">挂号费用</label><br>
                        <input type="text" name="registrationfee" id="registrationfee">
                    </div>
                    <div class="form-group">
                        <label for="description">医生介绍</label><br>
                        <input type="text" name="description" id="description">
                    </div>
                    <div class="form-group">
                        <label for="title">医生职称</label><br>
                        <input type="text" name="title" id="title">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-large btn-success" type="submit" value="添加医生">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>