<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理页面</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>

        input {
            height: 150px;
            width: 350px;
            margin-top: 100px;
            margin-left: 10px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <h1>医院管理</h1>
        <div class="col-md-12 column">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="http://localhost:8080/">首页</a>
                            </li>
                            <li>
                                <a th:href="@{/outpatient/outpatient}">门诊服务</a>
                            </li>
                            <li>
                                <a th:href="@{/patient/registration}">病人登记</a>
                            </li>
                            <li>
                                <a th:href="@{/doctor/doctor}">医生服务</a>
                            </li>
                            <li>
                                <a th:href="@{/toDrugStorePage}">药房服务</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/toAdminPage}">医院管理</a>
                            </li>
                            <li>
                                <a th:href="@{/logout}" style="color: red">退出账号</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a th:href="@{/admin/allDepartment}">
                <input type="button" class="btn btn-large btn-warning" value="部门管理">
            </a>
            <a th:href="@{/admin/allDoctor}">
                <input type="button" class="btn btn-large btn-warning" value="医生管理">
            </a>
            <a th:href="@{/admin/allDrug}">
                <input type="button" class="btn btn-large btn-warning" value="药品管理">
            </a>
        </div>
    </div>
</div>

</body>
</html>