<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>医生管理</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="http://localhost:8080/">首页</a>
                </li>
                <li>
                    <a th:href="@{/outpatient/outpatient}">门诊服务</a>
                </li>
                <li>
                    <a th:href="@{/patient/registration}">病人登记</a>
                </li>
                <li>
                    <a th:href="@{/doctor/doctor}">医生服务</a>
                </li>
                <li>
                    <a th:href="@{/toDrugStorePage}">药房服务</a>
                </li>
                <li>
                    <a th:href="@{/admin/toAdminPage}">医院管理</a>
                </li>
                <li>
                    <a th:href="@{/logout}">退出账号</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <a th:href="@{/admin/toAddDoctor}">增加医生</a>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>医生ID</th>
            <th>医生名称</th>
            <th>性别</th>
            <th>所属部门ID</th>
            <th>联系电话</th>
            <th>挂号费用</th>
            <th>医生介绍</th>
            <th>职称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc:${docList}">
            <td th:text="${doc.doctorid}"></td>
            <td th:text="${doc.docname}"></td>
            <td th:text="${doc.sex}"></td>
            <td th:text="${doc.departmentid}"></td>
            <td th:text="${doc.phone}"></td>
            <td th:text="${doc.registrationfee}"></td>
            <td th:text="${doc.description}"></td>
            <td th:text="${doc.title}"></td>

            <td>
                <a th:href="@{/admin/toUpdateDoctor(doctorid=${doc.doctorid})}">修改</a>
                <a th:href="@{/admin/deleteDoctor(doctorid=${doc.doctorid})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>