<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>药品管理</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<!--<script src="/statics/js/jquery-3.3.1.js"></script>
<script type="text/javascript">
    function tips(){
        alert([[${msg}]]);
    }
</script>-->

<body>
<h2 th:text="${msg}" style="color:#ff0000;"></h2>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="http://localhost:8080/">首页</a>
                </li>
                <li>
                    <a th:href="@{/outpatient/outpatient}">门诊服务</a>
                </li>
                <li>
                    <a th:href="@{/patient/registration}">病人登记</a>
                </li>
                <li>
                    <a th:href="@{/doctor/doctor}">医生服务</a>
                </li>
                <li>
                    <a th:href="@{/toDrugStorePage}">药房服务</a>
                </li>
                <li>
                    <a th:href="@{/admin/toAdminPage}">医院管理</a>
                </li>
                <li>
                    <a th:href="@{/logout}">退出账号</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <a th:href="@{/admin/toAddDrug}">增加药品</a>
</div>

<form th:action="@{/cost/search}">
    <label>
        输入病历号进行检索
        <input type="text" name="caseid" th:value="${caseid}">
    </label>
    <input type="submit">
</form>
<div>
    <table>
        <thead>
        <tr>
            <th>药品ID</th>
            <th>药品名称</th>
            <th>药品拼音码</th>
            <th>药品单位</th>
            <th>药品规格</th>
            <th>药品价格</th>
            <th>药品数量</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drug:${drugList}">
            <td th:text="${drug.drugid}"></td>
            <td th:text="${drug.name}"></td>
            <td th:text="${drug.pinyin}"></td>
            <td th:text="${drug.unit}"></td>
            <td th:text="${drug.specification}"></td>
            <td th:text="${drug.price}"></td>
            <td id="quantity" th:text="${drug.quantity}"></td>
            <td>
                <a th:href="@{/admin/toUpdateDrug(drugid=${drug.drugid})}">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/admin/giveDrug}">
    <table>
        <thead>
        <tr>
            <th>药品id</th>
            <th>药品数量</th>
            <th>药品合计</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pre:${prescription}">
            <td><input name="drugid" type="text" th:value="${pre.drugid}"/></td>
            <td><input name="number" type="text" th:value="${pre.number}"></td>
            <td th:text="${pre.total}"></td>
        </tr>
        </tbody>
    </table>

    <input type="submit" value="取药"/>
</form>
</body>

</html>