<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新部门信息</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        input{
            height: 40px;
            width: 1170px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="http://localhost:8080/">首页</a>
                            </li>
                            <li>
                                <a th:href="@{/outpatient/outpatient}">门诊服务</a>
                            </li>
                            <li>
                                <a th:href="@{/patient/registration}">病人登记</a>
                            </li>
                            <li>
                                <a th:href="@{/doctor/doctor}">医生服务</a>
                            </li>
                            <li>
                                <a th:href="@{/toDrugStorePage}">药房服务</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/toAdminPage}">医院管理</a>
                            </li>
                            <li>
                                <a th:href="@{/logout}">退出账号</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <form th:action="@{/admin/updateDepartment}">
                    <div class="form-group">
                        <input type="hidden" name="departmentid" th:value="${Qdpt.departmentid}">
                    </div>
                    <div class="form-group">
                        <label>部门名称</label>
                        <input type="text" name="dptname" th:value="${Qdpt.dptname}">
                    </div>
                    <div class="form-group">
                        <label>部门介绍</label>
                        <input type="text" name="description" th:value="${Qdpt.description}">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-large btn-success" type="submit" value="修改部门">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>